@CHARSET "ISO-8859-1";

@media all and (max-width: 600px) {


h2.formTitle {
	text-align:left
	color: #333;
}
/*input[type="button"] {
	padding:3px;
}*/
input[type="submit"],input[type="button"] {
	padding:3px;
	padding:3px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eda933;
	display:inline-block;
	color: #282E8C;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cd8a15;
	margin: 5px;	
}
p.seperator{
 	border-bottom:none;
 	border-left:none;
 	border-right:none;
    border-top-width: 1px;
    border-top-color: #333;
    border-top-style:solid;
    display: block; 
    font-weight: bold;
    margin: 1em 0px 0.5em 0px;
    padding: 4px 0px 2px 0px;
    width: 96%;
}
table.leaveRequestForm td {
	padding:100px;
}
#employeeSignature {
  font-family: "Script MT Bold";
  font-size:large;
  margin-left:10px;
}
table.formTable {
	width:100%;
	/*border: 1px solid #000;*/
	margin:0;
	padding:0;
}
table.formTable caption{
	font-weight: bold;
	text-align: left;
	color:#435997;
	font-size:small;
}
table.formTable tr{
	height:3px;
}	
table.formTable td{
	margin:3px;
	padding:3px;
	/*display: block;*/
}	
textarea.remarks {
	margin-left:8px;
	border:solid 1px black;
	width: 85%;
	resize:none;
	font-size:17px;
	}

table.formTable td.desktopOnly {
        display:none;
    }

}