@CHARSET "ISO-8859-1";



/* added for new create leave request */
/* added for create leave request notice formatting */
div#wizardNoticep3 {
	/*height:85px;*/
	width:90%;
	vertical-align:middle;
	margin-top:15px;
	margin-left:0px;
	margin-right:auto;
	border: 5px solid #614A9F;
}

div#wizardNoticep4 {

	/*height:90px;*/
	width:90%;
	vertical-align:middle;
	margin-top:15px;
	margin-left:0px;
	margin-right:auto;
	border: 5px solid #205493;

}


div#wizardNoticeMessagep3, div#lrReconWizardNoticeMessagep3MobileExtra {
	
	color:#614A9F;
}

div#wizardNoticeMessagep4 {
	
	color: #205493;
}


div.homeWarningMessage span {
	padding:1px;
}

/* copied from US Style guide */
.usa-alert {
  background-color: #f1f1f1;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  margin-top: 1.5em;
  padding: 1em; }
  @media screen and (min-width: 600px) {
    .usa-alert {
      background-size: 5.2rem; } }
  .usa-alert ul {
    margin-bottom: 0;
    margin-top: 1em; 
    padding-left: 3em;}

.usa-alert-icon {
  display: table-cell;
  padding-right: 1rem; }

.usa-alert-body {
  display: table-cell;
  padding-left: 3.5rem;
  padding-bottom: 2em;
  vertical-align: top; }
  @media screen and (min-width: 600px) {
    .usa-alert-body {
      padding-left: 5rem; } }

.usa-alert-info {
  background-color: #e1f3f8;
  /*background-image: url("../images/info.png");*/
  background-image: url("../images/info-image-small.png");
  
}


.usa-alert-heading {
  margin-bottom: .3rem;
  margin-top: 0; }
  @media screen and (min-width: 600px) {
    .usa-alert-heading {
      margin-top: .3rem; } }

.usa-alert-text {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  margin-bottom: 0;
  margin-top: 0; 
  }


.usa-alert-no_icon {
  background-image: none; }
  
  @media screen and (min-width: 600px)  {div#confirmationBannerP4 
  {
  	width:90%;
   }}
   
   .reconCommandLink {
	   color:#0033CC;
	   font-size:100%;
	   font-weight:bold;
	   font-style:italic;
	   text-decoration:none;
	   padding-buttom:1em;
	  }
  
/*4*/