@CHARSET "ISO-8859-1";

@media all and (max-width: 600px) {


#top-links {
   /* float: none; */
    margin-top: 7px;
    font-size:large;
}

#top-links a {
    	
    }
#top-links a:link, a:visited {
	color: #282e8c;
	/*
	text-decoration:none;
	*/
	text-decoration: underline;

}
#top-links a:hover { 
	text-decoration: underline;
	color: #282E8C; 
	color:#435997;	
}
#top-links li {
    background:none repeat scroll 0 0 transparent;
    color:#27308D;
    color:#435997;	
    float:left; 
    font-size:large;
    list-style:none;
    padding:0 5px;
}
#logos {
	/* clear: none; */
	height:auto;
}
#logo-left {
	float:none;
	clear:both;
}
#logo-right, #logo-mobile {
	/* float: none; */
	font-family: "Bodoni MT Black";
	font-size: 40px;
	margin-top: 10px;
	color:#5c69ad;
	clear:left;
}
#top-navbar {
	background: transparent none repeat scroll 0;
	padding: 0;
	padding-bottom:0px;
	margin-top: 9px;
	margin-bottom:0px;
	clear: none;
	text-align: center;
	width: auto;
}
#userpref {
	clear:none;
}
#userpref-right {
	float: none;
}

}