@CHARSET "ISO-8859-1";

@media all and (max-width: 600px) {


p.sectionTitle {
    border: solid #333;
    border-width: 1px 0px;
    color: #333;
    display: block;
    font-weight: bold;
    margin: 0px 0px 0.5em 0px;
    padding: 0px 0px 2px 0px;
    width: 96%;
    margin-top:5px;
}
table.view {
	border-collapse:separate;
	padding: 5px 8px;
}
table.view td {
	padding-bottom:4px;
	padding-right: 1em;
	/* added */
	/*display:block;*/
}

table.view td.desktopOnly {
	display: none;
}

table.view tr {
        display:block;
    }

table.view td.firstCol{
	padding-right:8px;
}
table.view td.secondCol{
	padding-right:8px;
	padding-left:0;
}
table.dataTableView {
	width: 80%;
	_width: 80%;
	margin-left:8px;
	border-collapse:collapse;
	/*border-bottom: 7px solid #5c69ad;*/
}
table.dataTableView caption	{
	font-weight: bold;
	padding: 10px 0px 5px 10px;
	text-align: center;
	color:#000;
}
table.dataTableView  tr.odd {
	background-color: #d0d8ef;
	border-bottom: 2px solid #fff;
}
table.dataTableView  tr.even {
	background-color: #e7ebf7;
	border-bottom: 2px solid #fff;
}
table.dataTableView th {
	background-color: #5c69ad;
	color: #fff;
	/*font-size: 0.75em;	*/
	font-size:small;
	line-height: 90%;
	padding: 5px 5px 5px 13px;
	border: 2px solid #fff;
	text-align: left;
}
table.dataTableView td {
	font-size: 0.75em;
	font-size:small;
	border: 2px solid #fff;
	padding:5px 10px 5px 10px;	
}
table.dataTableView th.number, table.dataTableView td.number {
	text-align:right;	
}	
table.dataTableView caption {
	font-weight: bold;
	padding: 10px 0px 5px 10px;
	text-align: center;
}
div.availableActions {
	text-align:left;
	margin-top:8px;
	margin-left:8px;
	margin-bottom:20px;
}


div.availableActions a:link, a:visited {
	color: #282e8c;
	font-size: x-large;
	/*text-decoration: underline;*/
}
div.availableActions a:hover {
	text-decoration: underline;
	font-weight:bold;
	font-style:italic;
	color: #282E8C;
}
div.availableActions a:active {
	text-decoration: underline;
	font-weight:bold;
	font-style:italic;
	color:red;
}
ul.message {
	width:90%;
	display:block;
	background-color:#e7ebf7;
	border: 1px double #4E6A71;
  	margin-top:5px;
  	margin-bottom:20px;
  	margin-right:20px;
  	padding:15px;
  	color:#4E6A71;
  	font-size:small;
}
ul.message li {
	margin-left:25px;
	font-size:small;;
	color:#4E6A71;
	margin-top:3px;
}
.formTitle {
	text-align:left;
}
div.remarks{margin-left:10px;width:90%;padding-bottom:0px;}


.desktopOnly {
		display:none;
	} 


.respButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eda933;
	display:inline-block;
	/*color:#ffffff;*/
	color: #282E8C;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cd8a15;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

	/* added 3/22/2013 for new LRList  */
	/* moved 5/10/2013 from other CSS file */
	
div.lrListForm>form table.iceDatTbl li a.listRespButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eda933;
	display:inline-block;
	/*color:#ffffff;*/
	color: #282E8C;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:3px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cd8a15;
}
/* added for underlining return to list */
div.buttonPanel a:link, a:visited {
	color: #282e8c;
	font-size: x-large;
	text-decoration: underline;
}
}


/*overriding some icefaces buttons */
.iceCmdBtn {
height: 30px;
width: 30px;
}



.iceGphImg {
height: 30px;
width: 30px;
}


div.lrListForm>form table.iceDatTbl a {
font-size: large;
}

/* 
.iceDatPgrScrCol a {
height: 40px;
width: 40px;
}
*/


